@model IEnumerable<TesisPadel.Models.Club>
@{
    ViewData["Title"] = "Club";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html class="Formato">
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="color: white;">club</title>
</head>
<body>
<p>

    <a asp-action="Create" style="color: white;">Crear Nuevo</a>

</p>
<div class="FormatoT">
    <table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubId">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.ClubId">Eliminar</a>

            </td>
        </tr>
}
    </tbody>
</table>
</div>

</body>
@section Scripts{
    <script src="~/js/club-1.0.0.js"></script>
}
</html> 
