@model IEnumerable<TesisPadel.Models.Ranking>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html class="Formato">
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="color: white;">Ranking</title>
</head>
<body>
<p>
    <a class="botonCrear" asp-action="Create">Crear Nuevo</a>
</p>
<div class="FormatoT">
   <table class="table " style="color: white; ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                <a class="botonEditar" asp-action="Edit" asp-route-id="@item.RankingId">Edit</a> 
                 <a class="btn botonEliminar" asp-action="Delete" onclick="EliminarRanking(@item.RankingId)">Delete</a> @*ver esto *@
            </td>
        </tr>
}
    </tbody>
</table> 
</div>

</body>
</html>
