@model IEnumerable<TesisPadel.Models.Ranking>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html class="Formato">
<head>
    <meta name="viewport" content="width=device-width" />
    <h1 style="color: white ;">Ranking</h1>
</head>
<body>
<p>
    <a class="botonCrear" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club)
            </td>
            <td>
                <a class="botonEditar" asp-action="Edit" asp-route-id="@item.RankingId">Editar</a>
                <a class="btn botonEliminar" asp-action="Delete" onclick="(@item.RankingId)";>Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
