@model IEnumerable<TesisPadel.Models.Usuario>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html class="Formato">
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="color: white;">Usuario</title>
</head>
<body>
<p>
    <a asp-action="Create" style="color: white;">Crear nuevo</a>
</p>
<div class="FormatoT">
    <table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalidadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioBirhtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalidadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioBirhtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.UsuarioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

</body>
</html>
